fastapi
uvicorn
pymongo
pydantic
python-dotenv
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
requests
aiohttp
groq
PyJWT
reportlab
pyx12

# RAG Knowledge System Dependencies
sentence-transformers
qdrant-client
torch
